{% extends "login.html" %}

{% block container %}
<p>Digite seu email cadastrado para enviarmos sua senha.</p>

<form class="pass_reset uniForm" method="POST" action=".">{% csrf_token %}
<fieldset class="inlineLabels">

	{% for field in form %}
	<div class="control-group {% if field.errors %}error{% endif %}">
				{{ field.label_tag }}{%if field.field.required%} {%endif%}
				<div class="controls">
					{{ field }}
					{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
					{% if field.errors %}<span class="help-inline">{% for error in field.errors %}{% if forloop.first %}{{ error }}{% endif %}{% endfor %}</span>{% endif %}
				</div>
			</div>
	{% endfor %}

	<div class="form_block">
	  <input type="submit" value="Enviar &raquo;" class="btn btn-primary btn-large" />
	</div>

</fieldset>
</form>

{% endblock %}