{% extends "base.html" %}

{% block content %}

<h1 style="padding-bottom:10px;">{{ title }}</h1>

<table class="table table-striped table-bordered">
	<thead>
	<tr>
		{% for c in columns %}
		    <th>{{ c }}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
		{% for s in show %}
		<tr>
			{% for value in s %}
			<td>{% autoescape off %}{{ value }}{% endautoescape %}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<p align="center">{% autoescape off %}{{ add_button }}{% endautoescape %}</p>

{% endblock %}